body {
    background-color: black;
    font-family: "Tiro Bangla", serif;
    /* font-family: "Inter", sans-serif; */
    /* font-size: 2rem; */
    color: white;
}

.row {
    background-color: violet;
}

.col {
    background-color: aqua;
}